@use "sass:math";

// Connection base ===========================================================================================================================================================================================================================================================================
@import "../../shared/styles/base";

//Connection font ===========================================================================================================================================================================================================================================================================
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');


// Settings ==============================================================================================================================================================================================================================================================================

// Adaptive Type:
$responsiveType: 1;

// ============================================================================================================================================================================================================================================================================================================================================================================================
// ============================================================================================================================================================================================================================================================================================================================================================================================

// Null ============================================================================================================================================================================================== =============================================================================================== ===============================================================================================
@import "../../shared/styles/base/null";

// Style BODY ============================================================================================================================================================================================================================================================================================================================================================================================
html {
	margin-right: calc(-1 * (100vw - 100%));
	overflow-x: hidden;
	::-webkit-scrollbar {
		width: rem(10);
	}

	::-webkit-scrollbar-thumb {
		background-color: $color-green;
		cursor: pointer;
	}

	/* Додаємо кольори та товщину скролбару дорівнює кольоровому значенню */
	::-webkit-scrollbar-track {
		background-color: $color-pale-white;
	}
}


body {
	position: relative;
	&.lock {
		overflow: hidden;
	}
}
#root {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	> main {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
	}
	> * {
		min-width: 0;
	}
}


//Container ======================================================================================================================================================================================================================
@if ($responsiveType==1) {
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			padding: 0 rem(math.div($containerPadding, 2));
		}
	}
} @else {
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: rem($maxWidthContainer);
			box-sizing: content-box;
		} @else {
			@if ($containerPadding>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: rem(970);
		}
		@media (max-width: $tablet) {
			max-width: rem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 rem(math.div($containerPadding, 2));
			}
		}
	}
}

// Import layout styles
@import "../../components/Layout/styles/layout";
// Import Pages styles
@import "../../components/Pages/styles/pages";

// Import Shared styles
@import "../../shared/styles/shared";
