//Default color
$main-color: #1A1A1A;

//Colors that are used many times
  /*white*/
    $color-white: #ffffff;
    $color-pale-white: #d3d3d3;
  /*green*/
    $color-green: #3C7D46;
    $color-dark-green: #1f3b23;
  /*gray*/
    $color-gray: #484848;
    $color-light-gray: #767676;
    $color-pale-gray: #A3A3A3;
  /*black*/
    $color-black:  #000;
  /*yellow*/
    $color-yellow: #E49A49;
  /*red-error*/
    $color-error: #C31C27;

//Background colors
$background-dark: #2C2926;
$background-white: #F6F5F4;
$background-contacts-btn: #d5d3d3;
//Border colors
$border-white: #E6E6E6;
$border-pale:  #D1D1D1;
//Hover colors
$hover-green-btn: #244d29;
$hover-svg: #bbbbbb;
//Shadow colors
$shadow: #1C1E2214;

//Colors that use one or two components
  /*Find*/
    $background-find: #F0F0F0;
    $color-find-scroll: #555;
    $color-find-premium: #F2AC29;
  /*Authorize*/
    $background-authorize: #fafafa;
  /*News*/
    $color-news-link: #2d2d2d;
  /*Sell-Possibility*/
    $color-sell-possibility: #3a3838;
  /*BlogItem*/
    $background-blogItem-blue: #E6F4FF;
    $background-blogItem-orange: #FFF1E8;
    $background-blogItem-purple: #EEEAFE;

    $color-blogItem-blue: #0394FC;
    $color-blogItem-orange: #DD7437;
    $color-blogItem-purple: #603FE2;

  /*Menu*/
    $menuActiveColor:#413e3b;


