@import "mixins";

//Main fontFamily in this web-site

$fontFamily: "Inter";

//Main fontSize in this web-site
$fontSize: 14;
//fontSize main Title
$fz-home-title: 60;
$font-size-home-title: 38;
$font-size-page-title: 44;
$fz-page-block-title: 34;
//fontSize text and others
$font-size-text: 16;
$font-size-block-title: 22;
$font-size-item-title: 18;

//fontSize desc and others
$font-size-desc: 12;