@import "mixins";

//Main fontFamily in this web-site

$fontFamily: "Inter";

//Main fontSize in this web-site
$fontSize: 14;
//fontSize main Title

$fz-title-page: 44;
$fz-block-title-page: 34;

$fz-main-title-home: 60;
$fz-home-title: 38;
$fz-block-title-home: 22;
$fz-block-title-news: 26;

$fz-item-title: 18;

//fontSize text and others
$fz-text: 16;

//fontSize desc and others
$fz-desc: 12;