@use "sass:math";
@use "/src/shared/styles/base";
@mixin dropdownActive() {
  .dropdown-menu__category {
    color: base.$color-green;
    svg {
      transform: scale(1, -1);
      color: base.$color-green;
    }
  }
  > .dropdown-menu__list {
    opacity: 1;
    visibility: visible;
  }
}
.dropdown-menu-container {
  display: flex;
  align-items: center;
  gap: base.rem(6);
}
.dropdown-menu {
  position: relative;
  > svg {
    color:  base.$main-color;
    opacity: 70%;
    font-size: base.rem(base.$fz-text);
  }
  &__category {
    color: base.$main-color;
    svg {
      font-size: base.rem(10);
    }
  }
  &__category, .dropdown-menu__category svg {
    transition: all .4s linear;
  }
  @media (any-hover: hover){
      &:hover {
        @include dropdownActive
      }
  }
   &.active {
    @include dropdownActive
  }
  //&_nav {
  //  color: base.$main-color;
  //  .header-menu__arrow {
  //    color: base.$main-color;
  //  }
  //}
  &__list {
    padding-top: base.rem(20);
    position: absolute;
    top: base.rem(15);
    right: base.rem(8);
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
  }
  &__point {
    padding: base.rem(10);
    display: flex;
    align-items: center;
    gap: base.rem(5);
    background: base.$background-dark;
    color: base.$color-white;
    cursor: pointer;
    transition: background .3s linear;
    img {
      width: base.rem(20);
      height: base.rem(20);
      border-radius: base.rem(5);
    }
    &:first-child {
      border-radius: base.rem(8) base.rem(8) 0 0;
    }
    &:last-child {
      border-radius: 0 0 base.rem(8) base.rem(8);
    }
    @media (any-hover: hover){
      &:hover {
        background: base.$menuActiveColor;
      }
    }
    &.active {
      background: base.$menuActiveColor;
      cursor: not-allowed;
    }
  }
}
