@use "/src/shared/styles/base";
.brands {
  background: base.$background-white;
  &__body {
    padding: base.rem(48) 0 base.rem(16);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(base.rem(184), 1fr));
    gap: base.rem(24);
  }
}

//Imports children components
@import "../components/BrandsCard/styles/brands-card";