@import "/src/shared/styles/base";
.brands {
  background: $background-white;
  &__body {
    padding-top: rem(48);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(184), 1fr));
    gap: rem(24);
    &.loader {
      display: flex;
      justify-content: center;
    }
  }
  &__all {
    padding-top: rem(16);
  }
}

//Imports children components
@import "../components/styles/brands-card";