@use "sass:math";
@use "/src/shared/styles/base";
.footer {
  &__text {
    padding-top: base.rem(24);
    &:not(:last-child) {
      margin-bottom: base.em(24, base.$fontSize);
    }
    @media (min-width: base.em(898)) {
      max-width: base.rem(288);
    }
  }
  &__list {
    display: flex;
    align-items: center;
    gap: base.rem(24);
  }

  &__social {
    font-size: base.rem(20);
    color: base.$color-light-gray;
    transition: color .3s linear;
    @media (any-hover: hover){
      &:hover {
        color: base.$color-green;
      }
    }
  }
  &__title {
    &:not(:last-child) {
      margin-bottom: base.em(24, base.$fz-text) !important;
    }
  }
}

.nav-footer {
  &__item {
    &:not(:last-child) {
      margin-bottom: base.rem(base.$fz-desc);
    }
  }
  &__link {
    color: base.$color-gray;
    @media (any-hover: hover){
      &:hover {
        color: base.$color-green;
      }
    }
    &:not(:last-child) {
      margin-bottom: base.em(12, base.$fontSize);
    }
  }
}