@use "sass:math";
@use "/src/shared/styles/base";
.works {
  &__top {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
  }
  &__text {
    color: base.$color-gray;
    &_width {
      max-width: base.rem(600);
    }
  }
  &__inner {
    padding-top: base.rem(48);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(base.rem(288), 1fr));
    gap: base.rem(24);
    @media (max-width:base.em(1254)) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: base.$mobileSmall) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
//Imports children components
@import "../components/styles/works-item";


