@use "sass:math";
@import "src/shared/styles/base";

.input {
  padding: rem(14) rem(12);
  border: rem(1) solid $border-pale;
  border-radius: rem(8);
  outline: none;
  &::placeholder {
    color: $color-pale-gray;
  }
}