@import "/src/shared/styles/base";
.not-found-fav {
  display: flex;
  &__body {
    @include adaptiveValue("padding-top", 120, 80);
    @include adaptiveValue("padding-bottom", 120, 80);
    flex: 1 1 auto;
    text-align: center;
  }
  &__title {
    &:not(:last-child) {
      margin-bottom: rem(15);
    }
  }
  &__text {
    font-size: rem($fz-text);
    span {
      font-weight: 700;
      color: $color-green;
    }
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }
  &__btn {
    padding: rem(8) rem(60);
    @media (max-width:$mobileSmall) {
      display: block;
      width: 100%;
    }
  }
}