@use "sass:math";
@import "../../../../../../../scss/base/mixins";
.section-offers {
  &__container {}
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptiveValue("column-gap", 40, 25, 480, 320, 1 );
    row-gap: rem(15);
    flex-wrap: wrap;
  }
  &__title {

  }
  &__navigation {
    font-size: rem(20);
    display: flex;
    gap: rem(16);
  }

  &__prev {}
  &__next {}
  &__all {

  }
  &__body {
    padding-top: rem(48);
    padding-bottom: rem(76);
    display: flex;
    align-items: stretch;
  }
  &__item {

  }
}

@import "../components/styles/offers-slider";