@use "sass:math";
@use "/src/shared/styles/base";

.communication {
  background: base.$background-dark;
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: base.em(800)) {
      flex-direction: column;
      gap: base.rem(40);
    }
  }
  &__item {
    @include base.adaptiveValue("padding-right", 104, 30);
    @include base.adaptiveValue("padding-left", 104, 30);
    color: base.$color-white;
    @media (min-width: base.em(800)) {
      &:not(:last-child) {
        border-right: base.rem(1) solid base.$color-white;
      }
    }
  }
  &__icon {
    font-size: base.rem(base.$fz-home-title);
    &:not(:last-child) {
      margin-bottom: base.em(24, base.$fz-home-title);
    }
  }
  &__title {
    &:not(:last-child) {
      margin-bottom: base.em(24, base.$fz-block-title-home);
    }
  }
  &__text {
    &:not(:last-child) {
      margin-bottom: base.em(48, base.$fz-text);
    }
  }
  &__button {
    @media (max-width: base.em(800)) {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}
