@use "sass:math";
@import "/src/shared/styles/base";

.communication {
  background: $background-dark;
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width:em(800)) {
      flex-direction: column;
      gap: rem(40);
    }
  }
  &__item {
    color: $color-white;
    @include adaptiveValue("padding-right", 104, 30);
    @include adaptiveValue("padding-left", 104, 30);
    @media (min-width:em(800)) {
      &:not(:last-child) {
        border-right: rem(1) solid $color-white;
      }
    }
  }
  &__icon {
    font-size: rem(38);
    &:not(:last-child) {
      margin-bottom: em(24, 38);
    }
  }
  &__title {
    &:not(:last-child) {
      margin-bottom: em(24, $font-size-block-title);
    }
  }
  &__text {
    &:not(:last-child) {
      margin-bottom: em(48, $font-size-text);
    }
  }
  &__button {
    @media (max-width:em(800)) {
      display: flex;
      width: 100%;
      justify-content: center;
    }
  }
}
