@use "sass:math";
@use "/src/shared/styles/base";

.catalog-filters {
  @media (max-width: base.$tablet) {
    padding-top: base.rem(24);
  }
  > button {
    @media (min-width: base.$tablet) {
      display: none !important;
    }
  }
  &__buttons {
    padding-top: base.rem(16);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: base.rem(4);
  }
}