@use "sass:math";
@import "/src/shared/styles/base";
.works {
  &__item {
    text-align: center;
    display: grid;
    justify-items: center;
    position: relative;
    @media (min-width:em(942)) {
      &:not(:last-child) {
        &::before {
          content:'';
          border: rem(1) dashed $border-pale;
          display: inline-block;
          width: rem(184);
          position: absolute;
          top: rem(27);
          left: 70%;
        }
      }
    }
  }
  &__number {
    width: rem(56);
    height: rem(56);
    border-radius: 50%;
    background: $color-yellow;
    font-weight: 600;
    font-size: rem(18);
    line-height: math.div(24 , 18);
    display: flex;
    justify-content: center;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: rem(24);
    }
  }
  &__name {
    font-size: rem(18);
    line-height: math.div(21.6 , 18);
    font-weight: 600;
    &:not(:last-child) {
      margin-bottom: em(12, 18);
    }
  }
}