@use "sass:math";
@import "/src/shared/styles/base";
.works {
  &__item {
    text-align: center;
    display: grid;
    justify-items: center;
    position: relative;

    @media (min-width:em(668)) {
      &:not(:last-child) {
        &::before {
          content:'';
          border: rem(1) dashed $border-pale;
          display: inline-block;
          width: rem(184);
          position: absolute;
          top: rem(27);
          left: 70%;
        }
        @media (max-width:em(1254)) {
          &:nth-child(2) {
            &::before {
              display: none;
            }
          }
          &::before {
            width: rem(300);
            @include adaptiveValue("left", 450, 180, 1254, 665);
          }
        }
      }
    }
  }
  &__number {
    width: rem(56);
    height: rem(56);
    border-radius: 50%;
    background: $color-yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: rem(24);
    }
  }
  &__name {
    &:not(:last-child) {
      margin-bottom: em(12, $font-size-item-title);
    }
  }
}