@use "sass:math";
@use "/src/shared/styles/base";
.works {
  &__item {
    position: relative;
    display: grid;
    justify-items: center;
    text-align: center;
    @media (min-width:base.em(668)) {
      &:not(:last-child) {
        &::before {
          content:'';
          position: absolute;
          top: base.rem(27);
          left: 72%;
          display: inline-block;
          width: base.rem(184);
          border: base.rem(1) dashed base.$border-pale;
        }
        &::before {
          @media (max-width:base.em(1254)) {
            @include base.adaptiveValue("left", 400, 150, 1254, 665, 1);
            @include base.adaptiveValue("width", 400, 350, 1254, 665, 1);
          }
        }
        @media (max-width:base.em(1254)) {
          &:nth-child(2) {
            &::before {
              display: none;
            }
          }
        }
      }
    }
  }
  &__number {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width: base.rem(56);
    height: base.rem(56);
    background: base.$color-yellow;
    border-radius: 50%;
    &:not(:last-child) {
      margin-bottom: base.rem(24);
    }
  }
}