@use "src/shared/styles/base";

.benefits {
  display: flex;
  justify-content: center;
  gap: base.rem(16);
  &__image {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: base.$color-yellow;
    height: base.rem(52);
    border-radius: 50%;
    img {
      width: base.rem(20);
      height: base.rem(20);
    }
  }
}

.benefits-about {
  flex-direction: column;
  text-align: center;
  .benefits__image {
    width: base.rem(52);
  }
}

.benefits-intro {
  .benefits__image {
    flex: 0 0 base.rem(52);
  }
}