@use "sass:math";
@import "/src/shared/styles/base";
.info-header-top {
  .info-header-top__item {
    @media (max-width:$mobile) {
      &:nth-child(1), &:nth-child(2) {
        display: none;
      }
    }
  }
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: rem(6);
    &_burger {
      .info-header-top__text, svg {
        color: $main-color !important;
      }
    }
    svg {
      color: $color-white;
      opacity: 70%;
      font-size: rem($fz-text);
      cursor: pointer;
    }
  }
}

.header-menu {
  position: relative;
  display: flex;
  align-items: center;
  color: $color-white;
  cursor: pointer;
  @media (any-hover: hover) {
    &:hover {
      .header-menu__arrow {
        transform: rotate(180deg);
      }
      > .header-menu__list {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  &_nav {
    color: $main-color;
    .header-menu__arrow {
      color: $main-color;
    }
  }
  &__arrow {
    transition: all 0.3s ease 0s;
    &.active {
      transform: rotate(180deg);
    }
  }
  &__list {
    padding-top: rem(20);
    position: absolute;
    top: rem(15);
    right: rem(8);
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    &.active {
      visibility: visible;
      opacity: 1;

    }
  }
  &__point {
    padding: rem(10);
    display: flex;
    align-items: center;
    gap: rem(5);
    background: $background-dark;
    color: $color-white;
    cursor: pointer;
    img {
      width: rem(20);
      height: rem(20);
      border-radius: rem(5);
    }
    &:first-child {
      border-radius: rem(8) rem(8) 0 0;
    }
    &:last-child {
      border-radius: 0 0 rem(8) rem(8);
    }
    @media (any-hover: hover){
      &:hover {
        background: $menuActiveColor;
      }
    }
    &.active {
      background: $menuActiveColor;
      cursor: not-allowed;
    }
  }
}



.info-text {
  position: relative;
}