@use "sass:math";
@import "/src/shared/styles/base";
.footer {
  &__copy {
    @include adaptiveValue("padding-top", 60, 40);
  }
}
.copy {
  display: flex;
  align-items: center;
  gap: rem(24);
  color: $color-light-gray;
  font-size: rem(12);
  line-height: math.div(16 , 12);
  @media (max-width:$mobileSmall) {
    flex-direction: column;
    gap: rem(15);
  }
  &__text {
    flex: 1 1 auto;
  }
}