@use "sass:math";
@use "/src/shared/styles/base";
.footer {
  &__copy {
    @include base.adaptiveValue("padding-top", 60, 40);
  }
}
.copy {
  display: flex;
  align-items: center;
  gap: base.rem(24);
  color: base.$color-light-gray;
  font-size: base.rem(base.$fz-desc);
  line-height: math.div(16 , base.$fz-desc);
  @media (max-width:base.$mobileSmall) {
    flex-direction: column;
    gap: base.rem(15);
  }
  &__text {
    flex: 1 1 auto;
  }
  &__item {
    transition: color .3s ease 0s;
    @media (any-hover: hover){
        &:hover {
            color: base.$color-green;
        }
    }
  }
}