@use "sass:math";
@import "/src/utils/styles/base/mixins";
.title {
  @include adaptiveValue("font-size", 38, 25);
  font-weight: 600;
  line-height: math.div(43.7 , 38);
  flex: 1 1 auto;
}

//Imports children components
@import "../components/CarsCard/styles/card";