@use "sass:math";
@import "/src/utils/styles/base";
.sell-details {
  &__possibility {
    color: $color-light-gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: color .3s linear;
    @media (any-hover: hover){
      &:hover {
        color: $color-sell-possibility;
      }
    }
  }
  &__item {
    display: flex;
    align-items: center;
    gap: rem(4);
    line-height: math.div(20 , 14);
    svg {
      font-size: rem(16);
    }
  }
}