@use "sass:math";
@import "../../../../../../../shared/styles/base";
.inspection-details {
  &__item {
    display: flex;
    &:not(:last-child) {
      margin-bottom: rem($fz-desc);
    }
  }
  &__name {
    font-weight: 600;
    flex: 0 0 rem(160);
  }
}