@import "/src/shared/styles/base";
.header-bottom {
  padding: rem(12) rem(0);
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include adaptiveValue("gap", 40, 14);
  }
  &__logo {
    display: flex;
    align-items: center;
    gap: rem(16);
    a {
      img {
        position: relative;
        z-index: 20;
      }
    }
    &::before {
      content:'';
      display: block;
      width: 38%;
      height: rem(110);
      position: absolute;
      background: $color-white;
      top: 0;
      left: -100%;
      visibility: hidden;
      opacity: 0;
      z-index: 8;
      @media (max-width: em(500)) {
        width: 70%;
      }
      -webkit-transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-ms-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;
    }
    &.active {
      &::before {
        left: 0;
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

//Imports children components
@import "../components/Navbar/styles/navbar";
@import "../components/HeaderUtils/styles/header-utils";
@import "../shared/Burger/burger";
@import "../shared/SearchForm/search-form";
