@use "sass:math";
@use "/src/shared/styles/base";
.intro {
  background: url("../../../../../../../../public/assets/image/intro/intro.png") no-repeat top / cover;
  @include base.adaptiveValue("height", 600, 400);
  &__body {
    @include base.adaptiveValue("padding-top", 120, 40);
    @include base.adaptiveValue("padding-bottom", 120, 40);
    @include base.adaptiveValue("max-width", 600 , 300);
  }
  &__contacts {
    display: flex;
    align-items: center;
    @include base.adaptiveValue("gap", 32, 20);
    @media (max-width: base.$tablet) {
      align-items: flex-start;
      flex-direction: column;
      max-width: base.rem(344);
    }
  }
  &__button {
    @media (max-width: base.$tablet) {
      width: 100%;
      text-align: center;
    }
  }
  &__info {
    display: flex;
    flex-wrap: wrap;
    @include base.adaptiveValue("gap", 18, 10);
    @media (max-width: base.$mobileSmall) {
      flex-direction: column;
    }
  }
  &__item {
    a {
      @media (any-hover: hover){
        &:hover {
          color: base.$color-green;
        }
      }
    }
  }
}