@use "sass:math";
@import "/src/shared/styles/base";
.nav-menu {
  flex: 1 1 auto;
  &__list {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: rem(32);
    row-gap: rem(10);
    @media (min-width: em(930)) {
      flex-wrap: wrap;
    }
    @media (max-width: rem(930)) {
      padding: rem(115) 0 0 rem(32);
      position: fixed;
      flex-direction: column;
      left: -100%;
      top: 0;
      gap: rem(15);
      z-index: 7;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: flex-start;
      overflow-y: auto;
      transition: all 0.3s ease 0s;

      &::after {
        content: '';
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 2;
        height: 100%;
        width: rem(360);
        background: $color-white;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease 0s;
      }
      &::before {
        content: '';
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 2;
        width: 64%;
        height: 100%;
        background: $color-black;
        opacity: 60%;
        transition: all 0.3s ease 0s;
      }
      &.active {
        left: 0;

        &::after {
          left: 0;
          visibility: visible;
          opacity: 1;
        }
        &::before {
          right: rem(-1);
        }
      }
    }
  }
  &__item {
    @media (max-width:em(930)) {
      a {
        font-size: rem(20);

      }
    }
  }
  &__link {
    position: relative;
    z-index: 10;
    font-size: rem($font-size-text);
    line-height: math.div(24 , $font-size-text);
    font-weight: 600;
    transition: color 0.3s ease 0s;
    @media (any-hover: hover){
      &:hover {
        color: $color-green;
      }
    }
  }
}

//Imports children components
@import "../components/NavbarMenu/styles/navbar-menu";