@use "sass:math";
@import "/src/shared/styles/base";

.favorites {
  &__body {
    padding-top: rem(30);
    display: flex;
    align-items: center;
    gap: rem(24);
    flex-wrap: wrap;
    &:has(> .favorites__loader) {
      justify-content: center;
    }
    @media (max-width:em(630)) {
      display: grid;
      svg {
        width: 100%;
      }
    }
  }
  &__loader {
    width: rem(200) !important;
    height: rem(200) !important;
  }
  &__item {
    display: flex;
    flex-direction: column;
    flex: 0 0 rem(288);
    box-shadow: 0 rem(8) rem(16) 0 $shadow;
    border-radius: rem(8);
    @media (min-width:em(630)) {
      min-height: rem(340);
    }
    .card__image {
      @media (max-width:em(630)) {
        img {
          height: 100%;
        }
      }

    }
  }
}

//Imports children components
@import "../components/NotFoundFav/styles/not-found-fav";
