@import "/src/shared/styles/base";
.blog {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__body {
    padding-top: rem(48);
    display: grid;
    gap: rem(24);
    @media (min-width: $mobileSmall) {
      grid-template-columns: repeat(auto-fit, minmax(rem(392), 1fr));
    }
  }
}

//Imports children components
@import "../components/styles/blog-item";