@import "../../../../../../../scss/base/mixins";
.blog {
  &__container {
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
  }

  &__all {
  }
  &__body {
    padding-top: rem(48);
    display: grid;
    gap: rem(24);
    @media (min-width: $mobileSmall) {
      grid-template-columns: repeat(auto-fit, minmax(rem(392), 1fr));
    }
  }
}

@import "../components/styles/blog-item";