@use "sass:math";
@import "/src/shared/styles/base";
.title {
  @include adaptiveValue("font-size", $font-size-title, 25);
  font-weight: 600;
  line-height: math.div(43.7 , $font-size-title);
  flex: 1 1 auto;
}

.all {
  display: flex;
  align-items: center;
  gap: rem(4);
  color: $color-green;
  font-weight: 600;
  transition: color .3s ease-in;
  svg {
    transition: transform .3s ease-in;
  }
  @media (any-hover: hover){
    &:hover {
      color: $hover-green-btn;
      svg {
        transform: translateX(20%);
      }

    }
  }
  &_show {
    @media (any-hover: hover){
        &:hover {
          svg {
            transform: rotate(-180deg);
          }
        }
    }
    &_less {
      svg {
        transform: rotate(-180deg);
      }
      @media (any-hover: hover){
          &:hover {
              svg {
                transform: rotate(0deg);
              }
          }
      }
    }
  }
}

.menu-text {
  color: $color-white;
  opacity: 70%;
  transition: opacity 0.3s ease 0s;
}
.text {
  font-size: rem($font-size-text);
  line-height: math.div(24 , $font-size-text);
}
.block-title {
  font-size: rem($font-size-block-title);
  line-height: math.div(26.4 ,$font-size-block-title);
  font-weight: 600;
}

.item-title_big {
  font-size: rem($font-size-item-title);
  line-height: math.div(21.6 , $font-size-item-title);
  font-weight: 600;
}

.item-title_small {
  font-size: rem($font-size-text);
  line-height: math.div(20 , $font-size-text);
  font-weight: 600;
}

//Imports children components
@import "../components/Card/styles/card";
@import "../components/GreenButton/styles/green-btn";
@import "../components/NavigationBtn/styles/navigation-btn";
@import "../components/Popup/styles/popup";
@import "../components/Popup/components/GetQuotePopup/styles/get-quote";
@import "../components/Popup/components/ContactUsPopup/styles/contact-popup";
@import "../components/Icons/styles/icons";

