@import "/src/shared/styles/base";
.header-bottom {
  &__utils {
    @include adaptiveValue("gap", 16, 10);
    display: flex;
    align-items: center;
    a {
      height: rem(20);
    }
  }
  &__icon {
    font-size: rem(20);
    transition: color 0.3s ease 0s;
    cursor: pointer;
    &_none {
      @media (max-width:$mobileSmall) {
        display: none;
      }
    }
    @media (any-hover: hover){
      &:hover {
        color: $color-green;
      }
    }
  }
}