@use "sass:math";
@import "../../../../../shared/styles/base";
.about {
  &__container {
    max-width: rem(1016) !important;
  }
  &__title {
    &:not(:last-child) {
        margin-bottom: em(40, $fz-title-page);
    }
  }
}


.about-section {
  @include adaptiveValue("margin-top", 96, 50);
}
.about-text {
  &:not(:last-child) {
    margin-bottom: rem(35);
  }
}


//Imports styles About components
@import "../components/AboutBenefits/styles/about-benefins";
@import "../components/AboutMission/styles/about-misson";
@import "../components/AboutContacts/styles/about-contacts";
@import "../components/AboutSend/styles/about-send";