@use "sass:math";
@use "/src/shared/styles/base";
.why {
  border-top: base.rem(1) solid base.$border-white;
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: base.rem(24);
    @media (max-width: base.$mobile) {
      flex-direction: column-reverse;
      gap: base.rem(35);
    }
  }
  &__image {
    @media (max-width: base.$tablet) {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  &__content {
    @include base.adaptiveValue("padding-right", 104, 30, 1920, 991, 1);
    @include base.adaptiveValue("padding-left", 104, 30, 1920, 991, 1);
    @media (max-width: base.$tablet) {
      flex: 0 0 base.rem(345);
    }
  }
  &__title {
    &:not(:last-child) {
      margin-bottom: base.em(24, base.$fz-home-title);
    }
  }
  &__paragraphs {
    @media (min-width: base.$mobile) {
      &:not(:last-child) {
        margin-bottom: base.em(48, base.$fz-text);
      }
    }
    p {
      margin-bottom: base.rem(30);
    }
  }
}
.advantages-why {
  &__item {
    margin-left: base.rem(20);
    &:not(:last-child) {
      margin-bottom: base.rem(24);
    }
  }
  &__title {
    position: relative;
    &::before {
      content:'';
      position: absolute;
      width: base.rem(16);
      height: base.rem(2);
      background: base.$color-yellow;
      top: base.rem(9);
      left: base.rem(-36);
    }
  }
}