@import "../../../../shared/components/Title/styles/title";

.benefits-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-yellow;
  flex: 0 0 rem(52);
  height: rem(52);
  border-radius: 50%;
  img {
    width: rem(20);
    height: rem(20);
  }
}

.section-text {
  @include adaptiveValue("margin-top", 70, 40);
  @include adaptiveValue("margin-bottom", 70, 40);
  &__text {
    &:not(:last-child) {
      margin-bottom: rem(35);
    }
  }
}