@use "sass:math";
@import "/src/shared/styles/base";
.features-cars {
  padding-top: rem(32);
  &__body {
    display: flex;
    @media (max-width:em(657)) {
      justify-content: space-evenly;
    }
    @media (max-width:$mobileSmall) {
      flex-direction: column;
      justify-content: center;
    }
  }
  &__column {
    @media (min-width:em(657)) {
      flex: 0 0 rem(392);
    }
  }
  &__name {
    padding-top: rem(24);
  }
  &__list {
    padding-top: rem(12);
  }
  &__item {
    display: flex;
    align-items: center;
    gap: rem(8);
    &:not(:last-child) {
      margin-bottom: em(4, $fontSize);
    }
    svg {
      font-size: rem(20);
      color: $color-light-gray;
    }
  }
}