@use "sass:math";
@import "/src/shared/styles/base";

.featured-post-skeleton {
  &:first-child {
    display: block;
    .featured-post__image {
      border-radius: rem(8) rem(8) 0 0;
      @media (min-width:em(1160)) {
        height: rem(220);
      }
    }
    .featured-post__title {
      width: 100%;
    }
  }
  .featured-post {
    &__image {
      border-radius: rem(8) 0 0 rem(8);
      @include adaptiveValue("height", 300, 150, 1160, 600, 1);
      animation: skeleton-loading 2s linear infinite alternate;
      @media (min-width:em(1160)) {
        flex: 0 0 rem(160);
        height: rem(120);
      }
      @media (max-width:em(600)) {
        @include adaptiveValue("height", 300, 150, 600, 320, 1);
      }
    }
    &__category {
      width: rem(53);
      height: rem(20);
      border-radius: rem(8);
      animation: skeleton-loading 2s linear infinite alternate;
    }
    &__title {
      padding-top: rem(8);
      width: rem(200);
      height: rem(45);
      border-radius: rem(8);
      animation: skeleton-loading 2s linear infinite alternate;
      @media (max-width:em(1160)) {
        width: 100%;
      }
    }
    &__content {
      padding: rem(16);
    }
  }
}


@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 92%);
  }
  100% {
    background-color: hsl(200, 20%, 98%);
  }
}
