@use "sass:math";
@use "/src/shared/styles/base";
.bottom-intro {
  &__container {
    background: base.$color-white;
    border-radius: base.rem(16);
    box-shadow: 0 base.rem(12) base.rem(32) 0 base.$shadow;
    @media (min-width:base.em(820)) {
      transform: translateY(base.rem(-80));
    }
  }
  &__body {
    padding: base.rem(40);
    display: flex;
    justify-content: space-between;
    gap: base.rem(40);
    @media (max-width:base.em(800)) {
      flex-direction: column;
      align-items: flex-start;
      padding: base.rem(20) 0;
    }
  }
}

