@use "sass:math";
@import "/src/shared/styles/base";
.home-title {
  @include adaptiveValue("font-size", $fz-home-title, 25);
  font-weight: 600;
  line-height: math.div(43.7 , $fz-home-title);
  flex: 1 1 auto;
  &:not(:last-child) {
    margin-bottom: em(24, $fz-home-title);
  }
}

.page-title {
  @include adaptiveValue("font-size", $fz-title-page, 35);
  line-height: math.div(50.6 , $fz-title-page);
  font-weight: 600;
  &:not(:last-child) {
    margin-bottom: em(40, $fz-title-page);
  }
  &_text {
    &:not(:last-child) {
      margin-bottom: em(16, $fz-title-page);
    }
  }
}

.page-block-title {
  @include adaptiveValue("font-size", $fz-block-title-page, 25);
  line-height: math.div(36.8 , $fz-block-title-page);
  font-weight: 600;
  &:not(:last-child) {
    margin-bottom: em(24, $fz-block-title-page);
  }
}

.block-title {
  font-size: rem($fz-block-title-home);
  line-height: math.div(26.4 , $fz-block-title-home);
  font-weight: 600;
}

.block-title-news {
  font-size: rem($fz-block-title-news);
  line-height: math.div(30 , $fz-block-title-news);
  font-weight: 600;
  &:not(:last-child) {
    margin-bottom: em(32, $fz-block-title-news);
  }
}

.item-title_big {
  font-size: rem($fz-item-title);
  line-height: math.div(21.6 , $fz-item-title);
  font-weight: 600;
  &:not(:last-child) {
    margin-bottom: em(12, $fz-item-title);
  }
}

.item-title_small {
  font-size: rem($fz-text);
  line-height: math.div(20 , $fz-text);
  font-weight: 600;
  &:not(:last-child) {
    margin-bottom: em(8, $fz-text);
  }
}

