@use "sass:math";
@use "/src/shared/styles/base";
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: base.rem(318);
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 base.rem(8) base.rem(16) 0 base.$shadow;
  }
  &__image {
    position: relative;
    img {
      height: base.rem(180);
      width: 100%;
      object-fit: cover;
      border-radius: base.rem(8) base.rem(8) 0 0;
      @media (max-width: base.em(550)) {
        @include base.adaptiveValue("height", 460, 200);
      }
    }
  }
  &__info {
    padding: base.rem(16);
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
  &__title {
    &:not(:last-child) {
        margin-bottom: 0;
    }
  }
  &__name {
    &:not(:last-child) {
      margin-bottom: base.em(4, base.$fz-text);
    }
  }
  &__params {
    flex: 1 1 auto;
    color: base.$color-pale-gray;
    font-size: base.rem(base.$fz-desc);
    line-height: math.div(16 , base.$fz-desc);
    &:not(:last-child) {
      margin-bottom: base.em(12, base.$fz-desc);
    }
  }
  &__description {
    flex: 1 1 auto;
    &:not(:last-child) {
      margin-bottom: base.em(20, base.$fontSize);
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    gap: base.rem(6);
    > h3 {
      &:not(:last-child) {
          margin-bottom: 0;
       }
    }
  }
  &__discount {
    flex: 1 1 auto;
    text-decoration: line-through;
    color: base.$color-pale-gray;
    line-height: math.div(18 , base.$fontSize);
  }
  &__details {
    position: relative;
    z-index: 10;
    color: base.$color-green;
    font-weight: 600 !important;
    svg {
      transition: transform .3s ease-in;
    }
    @media (any-hover: hover){
      &:hover {
        color: base.$hover-green-btn;
        svg {
          transform: translateX(20%);
        }
      }
    }
  }
}

.catalog-card {
  display: flex;
  box-shadow: 0 8px 16px 0 base.$shadow;
  border-radius: base.rem(8);
  @media (max-width: base.em(650)) {
    flex-direction: column;
  }
  .card {
    &__name {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    &__image > img {
      height: auto;
     @media (min-width: base.em(651)) {
       border-radius: base.rem(8) 0 0 base.rem(8);
       height: 100%;
       width: base.rem(300);
     }
    }
    &__params {
      flex: 0;
    }
  }
}