@use "sass:math";
@import "/src/shared/styles/base";
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: rem(318);
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 rem(8) rem(16) 0 $shadow;
  }
  &__image {
    position: relative;
    img {
      height: rem(180);
      width: 100%;
      object-fit: cover;
      border-radius: rem(8) rem(8) 0 0;
      @media (max-width:em(550)) {
        @include adaptiveValue("height", 460, 200);
      }
    }
  }
  &__favorite {
    position: absolute;
    top: rem(8);
    right: rem(8);
    z-index: 10;
    width: rem(32);
    height: rem(32);
    background: $color-black;
    -webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      color: $color-white;
      font-size: rem($fz-text);
    }
    .active {
      svg {
        background: $color-white;
      }
    }
  }
  &__info {
    padding: rem(16);
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
  &__title {
    &:not(:last-child) {
        margin-bottom: 0;
    }
  }
  &__name {
    &:not(:last-child) {
      margin-bottom: em(4, $fz-text);
    }
  }
  &__description {
    flex: 1 1 auto;
    color: $color-pale-gray;
    font-size: rem($fz-desc);
    line-height: math.div(16 , $fz-desc);
    &:not(:last-child) {
      margin-bottom: em(36, $fz-desc);
    }
  }
  &__bottom {
    display: flex;
    align-items: center;
    gap: rem(6);
  }
  &__discount {
    flex: 1 1 auto;
    text-decoration: line-through;
    color: $color-pale-gray;
    line-height: math.div(18 , $fontSize);
  }
  &__details {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    gap: rem(4);
    color: $color-green;
    font-weight: 600;
    transition: color .3s ease-in;
    svg {
      transition: transform .3s ease-in;
    }
    @media (any-hover: hover){
      &:hover {
        color: $hover-green-btn;
        svg {
          transform: translateX(20%);
        }
      }
    }
  }
}