@use "sass:math";
@use "src/shared/styles/base";

.mission-about {
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: base.rem(24);
    @media (max-width:base.em(920)) {
      flex-direction: column;
    }
  }
  &__image {
    img {
      @media (max-width:base.em(920)) {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
