@use "sass:math";
@import "../../../../../styles/base";


.label {
  display: flex;
  flex-direction: column;
  text-align: left;
  &:not(:last-child) {
    margin-bottom: rem(5);
  }
  span {
    display: flex;
    justify-content: flex-start;
    line-height: math.div(20 , $fontSize);
    &:not(:last-child) {
      margin-bottom: em(8, $fontSize);
    }
  }
  &__error {
    padding-top: rem(8);
    font-size: rem($fz-desc);
    line-height: math.div(12 , $fz-desc);
    color: $color-error;
    height: rem(35);
  }
  &.error {
   .input {
     border-color: $color-error;
     &::placeholder {
       color: $color-error;
     }
   }
    .select__control {
      border-color: $color-error !important;
    }
    .select__placeholder {
      color: $color-error !important;
    }
    .password-input {
      &__btn {
        border-color: $color-error;
      }
    }
  }
}