@use "sass:math";
@import "../../../../../styles/base";


.label-container {
  &__info {
    display: flex;
    align-items: center;
    > span {
      flex: 1 1 auto;
    }
  }
  &__hint {
    padding: rem(3) rem(7);
    position: relative;
    transition: color .3s linear;
    &:only-child, &:nth-child(1) {
      margin-left: auto;
    }
    &_button {
      color: $color-light-gray;
      font-size: rem($fz-desc);
      line-height: math.div(16 , $fz-desc);
      @include buttonHover($color-gray, $color-white);
    }
  }
  &__dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 rem(20);
    svg {
      font-size: rem(20);
      color: $color-light-gray;
      transition: all .3s linear;
    }
    &:only-child {
      margin-left: auto;
    }
    @media (any-hover: hover){
        &:hover {
            svg {
              animation: jump 0.5s infinite;
              color: $main-color;
            }
        }
    }
    &.active {
      color: $main-color;
      transform: scale(-1, 1);
    }
  }
}

.label {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: rem(8);
  span {
    display: flex;
    justify-content: flex-start;
    line-height: math.div(20 , $fontSize);
    &:not(:last-child) {
      margin-bottom: em(8, $fontSize);
    }
  }
  &__error {
    padding-top: rem(8);
    font-size: rem($fz-desc);
    line-height: math.div(12 , $fz-desc);
    color: $color-error;
    height: rem(35);
  }
  &.error {
   .input {
     border-color: $color-error;
     &::placeholder {
       color: $color-error;
     }
   }
    .select__control {
      border-color: $color-error !important;
    }
    .select__placeholder {
      color: $color-error !important;
    }
    .password-input {
      &__btn {
        border-color: $color-error;
      }
    }
  }
}

@keyframes jump {
  0% { transform: translateY(0); }
  50% { transform: translateY(rem(-4)); }
  100% { transform: translateY(0); }
}