@use "sass:math";
@import "../../../../../styles/base";


.label-container {
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__hint {
    transition: color .3s linear;
    position: relative;
    padding: rem(3) rem(7);
    &_button {
      color: $color-light-gray;
      font-size: rem($fz-desc);
      line-height: math.div(16 , $fz-desc);
      @include buttonHover($color-gray, $color-white);

    }
  }
}

.label {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: rem(8);
  span {
    display: flex;
    justify-content: flex-start;
    line-height: math.div(20 , $fontSize);
    &:not(:last-child) {
      margin-bottom: em(8, $fontSize);
    }
  }
  &__error {
    padding-top: rem(8);
    font-size: rem($fz-desc);
    line-height: math.div(12 , $fz-desc);
    color: $color-error;
    height: rem(35);
  }
  &.error {
   .input {
     border-color: $color-error;
     &::placeholder {
       color: $color-error;
     }
   }
    .select__control {
      border-color: $color-error !important;
    }
    .select__placeholder {
      color: $color-error !important;
    }
    .password-input {
      &__btn {
        border-color: $color-error;
      }
    }
  }
}