@use "sass:math";
@use "/src/shared/styles/base";
.panel-contacts {
  &__social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include base.adaptiveValue("gap", 16, 8);
  }
  &__link {
    @media (max-width:base.em(850)) {
      span {
        display: none;
      }
    }
  }
}
