@use "sass:math";
@import "../../../../../../../../../scss/base/mixins";

.cars {
  &__description {
    padding-top: rem(32);
  }
  &__text {
    padding-top: rem(24);
    line-height: math.div(20 , 14);
  }
  &__link {
    padding-top: rem(8);
    @media (any-hover: hover){
      &:hover {
        svg {
          transform: translateY(0%) rotate(-90deg);
        }
      }
    }
  }
}