@import '/src/shared/styles/base';
.details-popup {
  &__check {
    img {
      width: rem(130);
      height: rem(130);
    }
  }
  &__title {
    @include adaptiveValue("font-size", 25, 20);
    font-weight: 700;
    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }
  &__text {
    font-size: rem($font-size-text);
    font-weight: 500;
  }
}