@use "sass:math";
@import "/src/shared/styles/base";
.auth {
  &__container {
    display: flex;
    justify-content: center;
  }
  &__body {
    flex: 0 0 rem(392);
    @media (max-width:$mobileSmall) {
      flex: 1 1 auto;
    }
  }
  &__top {
    padding-bottom: rem(16);
  }
  &__title {
    &_reset {
      @include adaptiveValue("font-size", 32, 20);
      line-height: math.div(36.8 , 32);
    }
  }
  &__text {
    &:not(:last-child) {
        margin-bottom: em(32, $fontSize);
    }
  }
  &__button {
    display: block;
    width: 100%;
    text-align: center;
  }
  &_link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}