@use "sass:math";
@import "/src/shared/styles/base";
.header-top {
  background: $background-dark;
  &__body {
    display: flex;
    justify-content: space-between;
    padding: rem(10) 0;
    font-weight: 500;
    font-size: rem(13);
    line-height: math.div(13 , $font-size-text);
  }
}

//Imports children components
@import "../components/HeaderTopList/styles/header-top-list";
@import "../components/HeaderTopMenu/styles/header-top-menu";