@use "sass:math";
@import "../../../../../../../shared/styles/base";

.send-about {
  background: $color-white;
  box-shadow: 0 rem(8) rem(16) 0 $shadow;
  border-radius: rem(8);
  &__body {
    @include adaptiveValue("padding", 40, 20);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: rem(24);
    svg {
      font-size: rem(48);
      color: $color-green;
    }
    @media (max-width:em(1034)) {
      flex-direction: column;
      text-align: center;
    }
  }
  &__info {
    @media (min-width:em(1034)) {
      flex: 0 0 rem(686);
    }
  }
  &__title {
    &:not(:last-child) {
      margin-bottom: em(16, $fz-block-title-home);
    }
  }
  &__btn {
    @media (max-width:$mobile) {
      width: 100%;
    }
  }
}