@import "/src/shared/styles/base";

$ig-small-screen: rem(768) !default;
$ig-xsmall-screen: rem(480) !default;
$ig-blue: #337ab7 !default;
$ig-background-black: rgba(0, 0, 0, .4) !default;
$ig-transparent: rgba(0, 0, 0, 0) !default;
$ig-shadow: 0 rem(2) rem(2) lighten($color-black, 10%);

@mixin vendor-prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}
// SVG ICON STYLES
.image-gallery-icon {
  color: $color-white;
  transition: all .3s ease-out;
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  position: absolute;
  z-index: 4;
  filter: drop-shadow($ig-shadow);
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $hover-svg;
      .image-gallery-svg {
        transform: scale(1.1);
      }
    }
  }
}
.image-gallery-using-mouse {
  .image-gallery-icon {
    &:focus {
      outline: none;
    }
  }
}
.image-gallery-fullscreen-button,
.image-gallery-play-button {
  bottom: 0;
  padding: rem(20);
  .image-gallery-svg {
    height: rem(28);
    width: rem(28);
  }
  @media (max-width: $ig-small-screen) {
    padding: rem(15);
    .image-gallery-svg {
      height: rem(24);
      width: rem(24);
    }
  }
  @media (max-width: $ig-xsmall-screen) {
    padding: rem(10);
    .image-gallery-svg {
      height: rem(16);
      width: rem(16);
    }
  }
}
.image-gallery-fullscreen-button {
  right: 2%;
}
.image-gallery-play-button {
  left: 0;
}
.image-gallery-left-nav,
.image-gallery-right-nav {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    position: absolute;
    content:'';
    width: rem(60);
    height: rem(60);
    background: $color-black;
    -webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;
    @media (max-width: rem(700)) {
      width: rem(30);
      height: rem(30);
    }
  }
  .image-gallery-svg {
    position: relative;
    width: rem(30);
    height: rem(30);
    z-index: 9;

  }
  @media (max-width: $ig-small-screen) {
    .image-gallery-svg {
      height: rem(20);
      width: rem(36);
    }
  }
  @media (max-width: $ig-xsmall-screen) {
    .image-gallery-svg {
      height: rem(20);
      width: rem(24);
    }
  }
  &[disabled] {
    cursor: none;
    opacity: .6;
    pointer-events: none;
  }
}
.image-gallery-right-nav {
  right: 5%;
}
.image-gallery-left-nav {
  left: 5%;
}
.image-gallery {
  @include vendor-prefix('user-select', none);
  -webkit-tap-highlight-color: $ig-transparent;
  position: relative;
  &.fullscreen-modal {
    background: $color-black;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 5;
    .image-gallery-content {
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
.image-gallery-content {
  position: relative;
  line-height: 0;
  top: 0;
  &.fullscreen {
    background: $color-black;
  }
  &.image-gallery-thumbnails-left,
  &.image-gallery-thumbnails-right {
    .image-gallery-slide .image-gallery-image {
      max-height: 100vh;
    }
  }
}
.image-gallery-slide-wrapper {
  position: relative;
  display: flex;
  &.image-gallery-thumbnails-left,
  &.image-gallery-thumbnails-right {
    display: inline-block;
    width: calc(100% - 110px); // 100px + 10px for margin
    @media (max-width: $ig-small-screen) {
      width: calc(100% - 87px); // 81px + 6px for margin
    }
  }
  &.image-gallery-rtl {
    direction: rtl;
  }
}
.image-gallery-slides {
  line-height: 0;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  text-align: center;
}
.image-gallery-slide {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  &.image-gallery-center {
    position: relative;
  }
  .image-gallery-image {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  .image-gallery-description {
    background: $ig-background-black;
    bottom: rem(70);
    color: $color-white;
    left: 0;
    line-height: 1;
    padding: rem(10) rem(20);
    position: absolute;
    white-space: normal;
    @media (max-width: $ig-small-screen) {
      bottom: rem(45);
      font-size: .8em;
      padding: rem(8) rem(15);
    }
  }
}
.image-gallery-bullets {
  bottom: rem(20);
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 80%;
  z-index: 4;
  .image-gallery-bullets-container {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .image-gallery-bullet {
    appearance: none;
    background-color: transparent;
    border: rem(1) solid $color-white;
    border-radius: 50%;
    box-shadow: $ig-shadow;
    cursor: pointer;
    display: inline-block;
    margin: 0 rem(5);
    outline: none;
    padding: rem(5);
    transition: all .2s ease-out;
    @media (max-width: $ig-small-screen) {
      margin: 0 rem(3);
      padding: rem(3);
    }
    @media (max-width: $ig-xsmall-screen) {
      padding: rem(2.7);
    }
  }
}
.image-gallery-thumbnails-wrapper {
  position: relative;
  &.thumbnails-swipe-horizontal {
    touch-action: pan-y;
  }
  &.thumbnails-swipe-vertical {
    touch-action: pan-x;
  }
  &.thumbnails-wrapper-rtl {
    direction: rtl;
  }
  &.image-gallery-thumbnails-left,
  &.image-gallery-thumbnails-right {
    display: inline-block;
    vertical-align: top;
    width: rem(100);
    @media (max-width: $ig-small-screen) {
      width: rem(81); // 75px + 6px for border
    }
    .image-gallery-thumbnails {
      height: 100%;
      width: 100%;
      left: 0;
      padding: 0;
      position: absolute;
      top: 0;
      .image-gallery-thumbnail {
        display: block;
        margin-right: 0;
        padding: 0;
        + .image-gallery-thumbnail {
          margin-left: 0;
          margin-top: rem(2);
        }
      }
    }
  }
  &.image-gallery-thumbnails-left,
  &.image-gallery-thumbnails-right {
    margin: 0 rem(5);
    @media (max-width: $ig-small-screen) {
      margin: 0 rem(3);
    }
  }
}
.image-gallery-thumbnails {
  overflow: hidden;
  padding: rem(5) 0;
  @media (max-width: $ig-small-screen) {
    padding: rem(3) 0;
  }
  .image-gallery-thumbnails-container {
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
  }
}
.image-gallery-thumbnail {
  display: inline-block;
  border: rem(4) solid transparent;
  transition: border .3s ease-out;
  width: rem(100);
  background: transparent;
  padding: 0;
  @media (max-width: $ig-small-screen) {
    border: rem(3) solid transparent;
    width: rem(81);
  }
  + .image-gallery-thumbnail {
    margin-left: rem(2);
  }
  .image-gallery-thumbnail-inner {
    display: block;
    position: relative;
  }
  .image-gallery-thumbnail-image {
    vertical-align: middle;
    width: 100%;
    line-height: 0;
    opacity: 50%;
  }
  &.active,
  &:focus {
   .image-gallery-thumbnail-image {
     opacity: 1;
   }
  }
  @media (hover: hover) and (pointer: fine) {
    &:hover {
      outline: none;
    }
  }
}
.image-gallery-thumbnail-label {
  box-sizing: border-box;
  color: white;
  font-size: rem($font-size-text);
  left: 0;
  line-height: rem(16);
  padding: 5%;
  position: absolute;
  top: 50%;
  text-shadow: $ig-shadow;
  transform: translateY(-50%);
  white-space: normal;
  width: 100%;
  @media(max-width: $ig-small-screen) {
    font-size: .8em;
    line-height: .8em;
  }
}
.image-gallery-index {
  background: $ig-background-black;
  color: $color-white;
  line-height: 1;
  padding: rem(6) rem(12);
  border-radius: rem(100);
  font-size: rem($font-size-desc);
  position: absolute;
  right: 48%;
  z-index: 4;
  bottom: 3%;
  @media(max-width: $ig-small-screen) {
    font-size: .8em;
    padding: rem(5) rem(10);
  }
}
.image-gallery-swipe {
  flex: 1 1 auto;
}