@use "sass:math";
@use "/src/shared/styles/base";
.footer {
  background: base.$background-white;
  @include base.adaptiveValue("padding-top", 80, 30);
  @include base.adaptiveValue("padding-bottom", 80, 30);

  &__body {
    display: flex;
    justify-content: space-between;
    @media (max-width: base.em(898)) {
      flex-wrap: wrap;
      row-gap: base.rem(20);
      column-gap: base.rem(40);
    }
  }
}

//imports style with footer components
@import "../components/FooterCopy/styles/footer-copy";
@import "../components/FooterItem/styles/footer-item";