@use "sass:math";
@import "/src/utils/styles/base/mixins";
@import "/src/utils/styles/base/colors";
.inspection-details {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: rem(30);
  }
  &__title {
    font-size: rem(22);
    line-height: math.div(26.4 , 22);
    font-weight: 600;
  }
  &__check {
    background: $color-yellow;
    padding: rem(4) rem(8);
    border-radius: rem(8);
    font-weight: 600;
    font-size: rem(12);
    line-height: math.div(16 , 12);
    color: $color-black;
    display: flex;
    align-items: center;
    svg {
      font-size: rem(20);
    }
  }
}