@use "sass:math";
@import "/src/shared/styles/base";
.inspection-details {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: rem(30);
  }
  &__check {
    background: $color-yellow;
    padding: rem(4) rem(8);
    border-radius: rem(8);
    font-weight: 600;
    font-size: rem($font-size-desc);
    line-height: math.div(16 , $font-size-desc);
    color: $color-black;
    display: flex;
    align-items: center;
    svg {
      font-size: rem(20);
    }
  }
}