@use "sass:math";
@import "../utils/styles/base/mixins";
@import "../utils/styles/base/colors";



.header-contacts {
  &__social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include adaptiveValue("gap", 16, 8);
  }
  &__item {

  }
  &__link {
    display: flex;
    gap: rem(6);
    align-items: center;
    color: $color-white;
    opacity: 70%;
    transition: opacity 0.3s ease 0s;
    svg {
      font-size: rem(20);
    }
    @media (max-width:em(850)) {
      span {
        display: none;
      }
    }
    @media (any-hover: hover){
      &:hover {
        opacity: 100%;
      }
    }
  }
}

.green-button {
  padding: rem(6) rem(12) rem(6) rem(12);
  background: $greenColor;
  border-radius: rem(8);
  color: $color-white;
  font-weight: 600;
  position: relative;
  line-height: math.div(24 , 14);
  transition: background 0.3s ease 0s;
  @media (any-hover: hover){
    &:hover {
      background: $hoverGreenBtn;
    }
  }
  &_big {
    padding: rem(12) rem(29.5) rem(12) rem(29.5);
  }
  &_white {
    background: $color-white;
    color: $greenColor;
    @media (any-hover: hover){
        &:hover {
          background: $color-pale-white;
        }
    }
  }
}

.all {
  display: flex;
  align-items: center;
  gap: rem(4);
  color: $greenColor;
  font-weight: 600;
  line-height: math.div(20 , 14);
  transition: color .3s ease-in;
  svg {
    transition: transform .3s ease-in;
  }
  @media (any-hover: hover){
    &:hover {
      color: $hoverGreenBtn;
      svg {
        transform: translateX(20%);
      }

    }
  }
}

.slider-button {
  width: rem(40);
  height: rem(40);
  border-radius: 50%;
  transition: all .3s ease-in;
  @media (any-hover: hover){
    &:hover {
      color: $color-white;
      background: $greenColor;
    }
  }
  @media (any-hover: none){
    color: $color-white;
    background: $greenColor;
  }
  svg {
    transform: translateY(10%);
  }
}


.navigation {
  font-size: rem(20);
  display: flex;
  gap: rem(16);
}