@use "sass:math";
@import "base/mixins";
.details {
  padding-top: rem(24);
  @include adaptiveValue("padding-bottom", 96 , 50);
  border-top: 1px solid #E6E6E6;
  &__path {
    color: #767676;
    padding-bottom: rem(16);
  }
  &__body {
    display: flex;
    justify-content: space-between;
    gap: rem(24);
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
  &__info {
    @media (min-width:em(1260)) {
      flex: 0 0 rem(392);
    }
  }
}




.sell-details {
  border: 1px solid #E6E6E6;
  border-radius: rem(8);
  &__top {
    border-radius: rem(8) rem(8) 0 0;
    background: #FFF;
    padding: rem(16);
  }
  &__title {
    padding-top: rem(16);
    font-size: rem(22);
    font-weight: 600;
    line-height: math.div(26.4 , 22);
    &:not(:last-child) {
        margin-bottom: em(16, 22);
    }
  }
  &__price {
    font-size: rem(26);
    line-height: math.div(30 , 26);
    color: $greenColor;
    font-weight: 600;
    &:not(:last-child) {
      margin-bottom: em(16, 26);
    }
  }
  &__list {
  }
  &__property {
    display: flex;
    align-items: center;
    line-height: math.div(20 , 14);
    &:not(:last-child) {
        margin-bottom: rem(12);
     }
  }
  &__name {
    flex: 0 0 rem(160);
    font-weight: 600;
  }
}




.details__loader {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100% !important;
  height: 45vh !important;
}