@use "sass:math";
@import "../shared/styles/base";
.auth {
  &__container {
    display: flex;
    justify-content: center;
  }
  &__body {
    flex: 0 0 rem(392);
    @media (max-width:$mobileSmall) {
      flex: 1 1 auto;
    }
  }
  &__top {
    padding-bottom: rem(16);
  }
  &__title {
    &:not(:last-child) {
      margin-bottom: em(32, 32);
    }
    &_reset {
      @include adaptiveValue("font-size", 32, 20);
      line-height: math.div(36.8 , 32);
    }
  }
  &__text {
    line-height: math.div(20 , 14);
    &:not(:last-child) {
        margin-bottom: em(32, 16);
    }
  }
  &__label {
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
        margin-bottom: rem(24);
     }
    span {
      line-height: math.div(20 , 14);
      &:not(:last-child) {
          margin-bottom: em(8, 14);
      }
    }
  }
  &__input {
    padding: rem(14) rem(12);
    border: rem(1) solid $border-pale;
    border-radius: rem(8);
    outline: none;
    &::placeholder {
      color: $color-pale-gray;
    }
  }
  &__forgot {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__link {
    color: $color-green;
    line-height: math.div(20 , 14);
    transition: color .3s linear;
    @media (any-hover: hover){
        &:hover {
            color: $color-dark-green;
        }
    }
  }
  &__button {
    display: block;
    width: 100%;
    text-align: center;
  }
  &__content {
    padding-top: rem(24);
    line-height: math.div(20 ,14);
    text-align: center;
    a {
      gap: rem(6);
      font-weight: 600;
      color: $color-green;
      transition: color .3s linear;
      svg {
        transition: transform .3s linear;
      }
      @media (any-hover: hover){
          &:hover {
              color: $color-dark-green;
              svg {
                transform: translateX(-10%);
              }
          }
      }
    }
  }
  &_link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__or {
    text-align: center;
    color: $color-light-gray;
    line-height: math.div(20 , 14);
    padding: rem(24) 0;
    position: relative;
    &::before, &::after {
        content:'';
        top: rem(33);
        position: absolute;
        border: rem(1) solid $border-white;
        width: rem(181);
    }
    &::before {
      right: 0;
    }
    &::after {
      left: 0;
     }
  }
  &__authorize {
    padding: rem(12) rem(24);
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: rem(8);
    font-weight: 600;
    line-height: math.div(24 , 14);
    justify-content: center;
    border: rem(1) solid $border-white;
    border-radius: rem(8);
    transition: background .3s linear;
    width: 100%;
    @media (any-hover: hover){
        &:hover {
            background: $background-authorize;
        }
    }
  }
}