@import "/src/shared/styles/base";
.blog {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__body {
    padding-top: rem(48);
    display: grid;
    gap: rem(24);
    @media (min-width: $mobileSmall) {
      grid-template-columns: repeat(auto-fit, minmax(rem(392), 1fr));
    }
    @media (max-width:em(850)) {
       svg {
         justify-self: center;
       }
    }
    @media (max-width:em(414)) {
        svg {
          max-width: 100%;
          height: auto;
        }
    }
  }
}