@import "/src/shared/styles/base";
.brands {
  &__item {
    padding: rem(16) rem(52);
    text-align: center;
    background: $color-white;
    border-radius: rem(8);
    box-shadow: 0 rem(8) rem(16) 0 $shadow;
    transition: box-shadow .3s ease 0s;
    @media (any-hover: hover){
        &:hover {
          box-shadow: rem(15) rem(30) rem(35) rem(10) $shadow;
        }
    }
  }
  &__image {
    img {
      width: rem(80);
      height: rem(60);
    }
  }
  &__name {
    padding-top: rem(12);
    font-weight: 600;
  }
}