@use "/src/shared/styles/base";
.header-bar {
  padding: base.rem(12) base.rem(0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: base.$background-dark-white;
  box-shadow: 0 0 base.rem(8) base.rem(10) base.$shadow;
  opacity: 0;
  transition: all .3s ease-in-out;
  &.sticky {
    top: 0;
    opacity: 1;
  }
  &.static {
    top: 5.4%;
    opacity: 1;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include base.adaptiveValue("gap", 40, 14);
  }
}


@keyframes fadeInDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}



//Imports children components
@import "../components/Navbar/styles/navbar";
@import "../components/BarLogo/styles/bar-logo";
@import "../components/BarUtils/styles/bar-utils";
